# docker or podman
# container_runtime: podman

# ignored in headless mode
# apikey: '1234'
# apihost: 'https://omnipackage.org'

# build_dir: "<%= ::Dir.tmpdir %>/omnipackage-build"
# lockfiles_dir: "<%= ::Dir.tmpdir %>/omnipackage-lock"
