# docker or podman
container_runtime: podman

# when using as self-hosted agent
apikey: ''
apihost: 'https://omnipackage.org'

# these directories must be writeable by user under which you run agent
build_dir: "<%= ::Dir.tmpdir %>/omnipackage-build"
lockfiles_dir: "<%= ::Dir.tmpdir %>/omnipackage-lock"
